* {
  box-sizing: border-box;
}

body {
  width: 1440px;
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
/* header */
header {
  width: 1440px;
  height: 150px;
  margin-left: auto;
  margin-right: auto;

  /* justify-content: space-between; */
  background-image: linear-gradient(
      to right,
      rgba(43, 74, 97, 0.87),
      rgba(43, 74, 97, 0.8)
    ),
    url("../images/Rectangle-104.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 40px;
  padding-bottom: 40px;
}
.header-position {
  display: flex;
  align-items: center;
  margin-left: 0;
  justify-content: space-between;
}
.container {
  width: 1030px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header-nav-list {
  /* text-align: center;
  font-family: "Inter";
  font-size: 20px;
  display: flex;
  font-style: normal;
  font-weight: 300;
  text-decoration: none; */
  display: flex;
  margin-left: 168px;
  /* justify-content: space-between; */
  /* width: 325px; */
}

.header-nav-link {
  font-family: "Inter";
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  text-decoration: none;
  color: #ffffff;
}
.header-nav-item + .header-nav-item {
  margin-left: 38px;
}
.header-nav-list:focus {
  color: #ffffff;
}
.header-nav-link:hover,
.header-nav-link:focus {
  color: #94cfff;
}
.entrance {
  color: #26c6ea;
  text-align: justify;
  font-family: "Headland One";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 141px;

  flex-shrink: 0;
  border: 2px solid #26c7ea;
  border-radius: 35px 0px;
  background-color: #0b0e66;
  margin-left: auto;
  padding-left: 38px;
  padding-right: 38px;
  padding-top: 10px;
  padding-bottom: 10px;
}
/* main */

.section-one {
  width: 1440px;
  height: 740px;
  background-image: url("../images/group-48.png");
  background-repeat: no-repeat;
  padding-top: 180px;
  padding-bottom: 180px;
}
.hero-description {
}
.hero-position {
  display: flex;
  justify-content: space-between;
}
.white-arrow {
  width: 152px;
  height: 40px;
  background-image: url("../images/rectangl-53.png");
}
.section-three {
  width: 1440px;
  /* height: 740px; */
  padding-top: 330px;
  padding-bottom: 330px;
  justify-content: space-between;
  background-image: url("../images/rectangle-10.png");
  background-repeat: no-repeat;
}
.section-four {
  width: 1440px;
  height: 350px;
  flex-shrink: 0;
  margin: auto;
}
.section-five {
  width: 1440px;
  height: 740px;
  flex-shrink: 0;
  background-image: url("../images/Rectangle-20.png");
  background-repeat: no-repeat;
}

.description {
  font-family: "Inter";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: absolute;
  top: 330px;
  color: #ffffff;
}
.description-translete {
  font-family: "Inter";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: absolute;
  top: 450px;
  color: #ffffff;
}

.link-to-clan {
  color: #26c7ea;
  text-align: center;
  font-family: "Headland One";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 260px;
  height: 80px;

  font-family: "Inter";
  /* padding: 10px; */

  border: 2px solid #26c7ea;
  border-radius: 35px 0px;
  background-color: #0b0e66;
}

.a-lot-of-people {
  color: #0a3853;
  text-align: justify;
  font-family: " Inter";
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.birdie {
  margin: 0 auto;
  display: block;
}
.thunderstorm {
  color: #0a3853;
  text-align: justify;
  font-family: "Inter";
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.signature {
  color: #000;
  text-align: center;
  font-family: "Inter";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.link-treyler {
  color: #26c7ea;
  text-align: justify;
  font-family: "Headland One";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 260px;
  height: 80px;
  padding: 25px 19px 25px 20px;

  border-radius: 45px 0px;
  border: 3px solid #26c7ea;
  background: #0b0e66;

  display: block;
}
.energy {
  color: #141414;
  text-align: justify;
  font-family: "Inter";
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.learn-the-lesson {
  position: absolute;
  width: 285px;
  height: 40px;
  left: 577px;

  font-family: "Headland One";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;

  text-align: justify;

  color: #141414;
}

.case-three {
  position: absolute;
  width: 320px;
  height: 240px;
  left: 917px;
  top: 2474px;

  background: rgba(255, 255, 255, 0.7);
}
.text-3 {
  color: #141414;
  text-align: justify;
  font-family: "Headland One";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 100% */
  padding-top: 45px;
  padding-left: 99px;
}
.right-arrow {
  width: 152px;
  height: 40px;
  flex-shrink: 0;
  background-image: url("../images/rectangle96.png");
  margin: auto;
}
.translete-3 {
  color: #141414;
  text-align: justify;
  font-family: "Headland One";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 100% */
  padding-left: 104px;
}
.case-six {
  position: absolute;
  width: 320px;
  height: 240px;
  left: 915px;
  top: 2738px;

  background: rgba(255, 255, 255, 0.7);
}
.text-6 {
  color: #141414;
  text-align: justify;
  font-family: "Headland One";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 100% */
  padding-top: 42px;
  padding-left: 62px;
}
.right-arrow {
  width: 152px;
  height: 40px;
  flex-shrink: 0;
  background-image: url("../images/rectangle-98.png");
  margin: auto;
}
.translete-6 {
  color: #141414;
  text-align: justify;
  font-family: "Headland One";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 100% */
  padding-left: 98px;
}
.case-one {
  position: absolute;
  width: 320px;
  height: 240px;
  left: 204px;
  top: 2474px;

  background: rgba(255, 255, 255, 0.7);
}
.text-one {
  color: #141414;
  text-align: justify;
  font-family: "Headland One";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 100% */
  padding-top: 36px;
  padding-left: 120px;
}
.arrow-left {
  width: 152px;
  height: 40px;
  flex-shrink: 0;
  background-image: url("../images/rectangle-42.png");
  margin: auto;
}
.translete-one {
  color: #000;
  text-align: justify;
  font-family: "Headland One";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 100% */
  padding-bottom: 36px;
  padding-left: 122px;
}
.case-two {
  position: absolute;
  width: 320px;
  height: 240px;
  left: 560px;
  top: 2474px;

  background: rgba(255, 255, 255, 0.7);
}
.text-two {
  color: #141414;
  text-align: justify;
  font-family: "Headland One";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 100% */
  padding-top: 36px;
  padding-left: 90px;
}
.text-birdie {
  width: 152px;
  height: 40px;
  flex-shrink: 0;
  background-image: url("../images/rectangle-99.png");
  margin: auto;
}
.translete-two {
  color: #000;
  text-align: justify;
  font-family: "Headland One";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 100% */
  padding-left: 28px;
}
.case-five {
  position: absolute;
  width: 320px;
  height: 240px;
  left: 560px;
  top: 2738px;

  background: rgba(255, 255, 255, 0.7);
}
.text-five {
  color: #141414;
  text-align: justify;
  font-family: "Headland One";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 100% */
  padding-top: 43px;
  padding-left: 89px;
}
.birdie-2 {
  width: 152px;
  height: 40px;
  flex-shrink: 0;
  background-image: url("../images/rectangle-100.png");
  margin: auto;
}
.translete-five {
  color: #000;
  text-align: justify;
  font-family: "Headland One";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 100% */
  padding-left: 55px;
}
.case-four {
  position: absolute;
  width: 320px;
  height: 240px;
  left: 204px;
  top: 2738px;

  background: rgba(255, 255, 255, 0.7);
}
.text-four {
  color: #141414;
  text-align: justify;
  font-family: "Headland One";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 100% */
  padding-top: 36px;
  padding-left: 122px;
}
.arrow-left {
  width: 152px;
  height: 40px;
  flex-shrink: 0;
  background-image: url("../images/rectangle-97.png");
  margin: auto;
}
.translete-four {
  color: #000;
  text-align: justify;
  font-family: "Headland One";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 100% */
  padding-left: 112px;
}
.great-mom {
  color: #141414;
  text-align: justify;
  font-family: "Inter";
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: auto;
}
.signature-2 {
  color: #000;
  text-align: center;
  font-family: "Inter";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.footer {
  width: 1440px;
  height: 223px;

  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  background-image: linear-gradient(
      to right,
      rgba(43, 74, 97, 0.87),
      rgba(43, 74, 97, 0.8)
    ),
    url("../images/rectangle-104.png");
}
