* {
  box-sizing: border-box;
}

body {
  width: 1440px;
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}

a {
  text-decoration: none;
}
/* header */
header {
  width: 1440px;
  margin: auto;
  /* max-width: 100%; */
  /* margin-left: auto;
  margin-right: auto;
  padding: 30px 15px; */

  justify-content: space-between;
  background-image: linear-gradient(
      to right,
      rgba(43, 74, 97, 0.87),
      rgba(43, 74, 97, 0.8)
    ),
    url("../images/rectangle-104.png");
  background-repeat: no-repeat;
}
.header-position {
  width: 1440px;
  height: 150px;
  /* margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px; */
}
.container {
  width: 1030px;
  /* outline: 4px solid black; */
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header-nav-list {
  display: block;
  text-align: center;
  font-family: "Inter";
  font-size: 20px;
  display: flex;
  gap: 40px;
  font-style: normal;
  font-weight: 300;
  text-decoration: none;
  padding-left: 558px;
  position: absolute;
  color: #ffffff;
}

.header-nav-item + .header-nav-item {
  margin-left: 50px;
}
.header-nav-list:focus {
  color: #ffffff;
}
.header-nav-link:hover,
.header-nav-link:focus {
  color: #94cfff;
}
.entrance {
  color: #26c6ea;
  text-align: justify;
  font-family: "Headland One";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 141px;
  height: 41.694px;
  flex-shrink: 0;
  border: 2px solid #26c7ea;
  border-radius: 35px 0px;
  background-color: #0b0e66;
  margin-left: 1095px;
}
/* main */

.section-one {
  width: 1440px;
  height: 740px;
  flex-shrink: 0;
  background-image: url("../images/group-48.png");
  background-repeat: no-repeat;
}
.white-arrow {
  width: 152px;
  height: 40px;
  background-image: url("../images/rectangl-53.png");
}
.section-three {
  width: 1440px;
  height: 740px;
  flex-shrink: 0;
  margin: auto;
  justify-content: space-between;
  background-image: url("../images/rectangle-10.png");
  background-repeat: no-repeat;
}
.section-four {
  width: 1440px;
  height: 350px;
  flex-shrink: 0;
  margin: auto;
}
.section-five {
  width: 1440px;
  height: 740px;
  flex-shrink: 0;
  background-image: url("../images/rectangle-20.png");
  background-repeat: no-repeat;
}

.description {
  font-family: "Inter";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: absolute;
  top: 330px;
  color: #ffffff;
}
.description-translete {
  font-family: "Inter";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: absolute;
  top: 450px;
  color: #ffffff;
}

.link-networks {
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  top: 50%;
  right: 5%;
  /* transform: translateY(-50%); */
}
.link-to-clan {
  color: #26c7ea;
  text-align: center;
  font-family: "Headland One";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 260px;
  height: 80px;
  top: 700px;
  font-family: "Inter";
  padding: 10px;
  position: absolute;
  border: 2px solid #26c7ea;
  border-radius: 35px 0px;
  background-color: #0b0e66;
  margin-right: 204px;
}

.a-lot-of-people {
  color: #0a3853;
  text-align: justify;
  font-family: " Inter";
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.birdie {
  margin: 0 auto;
  display: block;
}
.thunderstorm {
  color: #0a3853;
  text-align: justify;
  font-family: "Inter";
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.signature {
  color: #000;
  text-align: center;
  font-family: "Inter";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.link-treyler {
  color: #26c7ea;
  text-align: justify;
  font-family: "Headland One";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 260px;
  height: 80px;
  padding: 25px 19px 25px 20px;
  flex-shrink: 0;
  border-radius: 45px 0px;
  border: 3px solid #26c7ea;
  background: #0b0e66;
  top: 1630px;
  position: absolute;
  margin-left: 609px;
}
.energy {
  color: #141414;
  text-align: justify;
  font-family: "Inter";
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.nav-item-less {
  width: 1030px;
  height: 704px;
  flex-shrink: 0;
  background-image: url("../images/rectangle-20.png");
  display: flex;
}
.learn-the-lesson {
  position: absolute;
  width: 285px;
  height: 40px;
  left: 577px;

  font-family: "Headland One";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;

  text-align: justify;

  color: #141414;
}

.case-three {
  position: absolute;
  width: 320px;
  height: 240px;
  left: 917px;
  top: 2474px;

  background: rgba(255, 255, 255, 0.7);
}
.text-3 {
  color: #141414;
  text-align: justify;
  font-family: "Headland One";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 100% */
  padding-top: 45px;
  padding-left: 99px;
}
.right-arrow {
  width: 152px;
  height: 40px;
  flex-shrink: 0;
  background-image: url("../images/rectangle96.png");
  margin: auto;
}
.translete-3 {
  color: #141414;
  text-align: justify;
  font-family: "Headland One";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 100% */
  padding-left: 104px;
}
.case-six {
  position: absolute;
  width: 320px;
  height: 240px;
  left: 915px;
  top: 2738px;

  background: rgba(255, 255, 255, 0.7);
}
.case-one {
  position: absolute;
  width: 320px;
  height: 240px;
  left: 204px;
  top: 2474px;

  background: rgba(255, 255, 255, 0.7);
}
.text-one {
  color: #141414;
  text-align: justify;
  font-family: "Headland One";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 100% */
  padding-top: 36px;
  padding-left: 120px;
}
.translete-one {
  color: #000;
  text-align: justify;
  font-family: "Headland One";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 100% */
  padding-bottom: 36px;
  padding-left: 122px;
}
.case-two {
  position: absolute;
  width: 320px;
  height: 240px;
  left: 560px;
  top: 2474px;

  background: rgba(255, 255, 255, 0.7);
}
.text-two {
  color: #141414;
  text-align: justify;
  font-family: "Headland One";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 100% */
  padding-top: 36px;
  padding-left: 90px;
}
.text-birdie {
  width: 152px;
  height: 40px;
  flex-shrink: 0;
  background-image: url("../images/rectangle-99.png");
  margin: auto;
}
.translete-two {
  color: #000;
  text-align: justify;
  font-family: "Headland One";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 100% */
  padding-left: 28px;
}
.case-five {
  position: absolute;
  width: 320px;
  height: 240px;
  left: 560px;
  top: 2738px;

  background: rgba(255, 255, 255, 0.7);
}
.text-five {
  color: #141414;
  text-align: justify;
  font-family: "Headland One";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 100% */
}
.translete-five {
  color: #000;
  text-align: justify;
  font-family: "Headland One";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 100% */
}
.case-four {
  position: absolute;
  width: 320px;
  height: 240px;
  left: 204px;
  top: 2738px;

  background: rgba(255, 255, 255, 0.7);
}
.text-four {
  color: #141414;
  text-align: justify;
  font-family: "Headland One";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 100% */
  padding-top: 36px;
  padding-left: 122px;
}
.arrow-left {
  width: 152px;
  height: 40px;
  flex-shrink: 0;
  background-image: url("../images/rectangle-42.png");
  margin: auto;
}
.translete-four {
  color: #000;
  text-align: justify;
  font-family: "Headland One";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 100% */
  padding-left: 112px;
}
.great-mom {
  color: #141414;
  text-align: justify;
  font-family: "Inter";
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: auto;
}
.signature-2 {
  color: #000;
  text-align: center;
  font-family: "Inter";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.footer-position {
  width: 1440px;
  height: 223px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  background-image: linear-gradient(
      to right,
      rgba(43, 74, 97, 0.87),
      rgba(43, 74, 97, 0.8)
    ),
    url("../images/rectangle-104.png");
  background-repeat: no-repeat;
}
